<% if current_user.admin? %>
  <h3><%= t ".title" %></h3>
  <%= link_to t(".link_export"), admin_bookmarks_path(format: :csv) %>
<%end %>
<div class="container py-5 text-white">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="card border-0 shadow">
        <div class="card-body p-5">
          <div class="table-responsive">
            <table class="table m-0">
              <thead>
                <tr>
                  <th class="col-md-1" ><%= t("index.stt") %></th>
                  <th class="col-md-6"><%= t("index.Title") %></th>
                  <th class="col-md-2"><%= t("index.Delete") %></th>
                </tr>
              </thead>
              <tbody>
              <% @bookmarks.each_with_index do |bookmark, index| %>
                <div id =bookmark-<%= bookmark.id %>>
                <tr>
                  <th><%= index+1%></th>
                  <td><%= link_to bookmark.review.title, review_path(bookmark.review.id) %></td>
                  <td><%= link_to [bookmark.review, bookmark], method: :delete,
                    data_delete: { confirm: "You sure?" },
                    class: "btn btn-danger btn-sm rounded-0",
                    type: "button" do %>
                      <i class="fa fa-trash"></i>
                    <% end %>
                  </td>
                </tr>
                </div>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
