<div class="section">
  <div class="container">
    <div class="row">
      <% if !@review_new.empty? %>
        <% @review_new.each do |review_news| %>
          <div class="col-md-6">
            <div class="post post-thumb">
               <%= link_to image_tag(review_news.image, class: "post-img"),review_path(review_news) if review_news.image.attached? %>
              <div class="post-body">
                <div class="post-meta">
                  <%=link_to review_news.topic.name, "#", class: "post-category cat-#{review_news.topic.id}" %>
                  <span class="post-date tt-review" ><%=review_news.created_at%></span>
                </div>
                <h3 class="post-title tt-review">
                  <%=link_to review_news.title,review_path(review_news) %>
                </h3>
              </div>
            </div>
          </div>
        <%end%>
      <%end%>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2><%= t ".Recent Posts" %></h2>
        </div>
      </div>
      <% if ! @recentPosts.empty? %>
      <% dem = 0 %>
        <%  @recentPosts.each do |recentPost| %>
          <% dem += 1 %>
          <% if dem < 7 %>
            <div class="col-md-4">
               <div class="post">
                <%= link_to image_tag(recentPost.image, class: "post-img"),review_path(recentPost) if recentPost.image.attached? %>
                <div class="post-body">
                  <div class="post-meta">
                    <%= link_to recentPost.topic.name, "#", class: "post-category cat-1" %>
                    <span class="post-date"><%= recentPost.created_at %></span>
                  </div>
                  <h3 class="post-title">
                    <%= link_to recentPost.title, review_path(recentPost) %>
                  </h3>
                </div>
              </div>
            </div>
          <% elsif dem > 7 %>
            <div class="col-md-6">
              <div class="post">
                <%= link_to image_tag(recentPost.image, class: "post-img"),review_path(recentPost) if recentPost.image.attached? %>
                <div class="post-body">
                  <div class="post-meta">
                    <a class="post-category cat-1" href="#"><%=recentPost.topic.name %></a>
                    <span class="post-date"><%= recentPost.created_at %></span>
                  </div>
                  <h3 class="post-title">
                    <%= link_to recentPost.title, review_path(recentPost) %>
                  </h3>
                </div>
              </div>
            </div>
          <% elsif dem == 3 %>
            <div class="clearfix visible-md visible-lg"></div>
          <% elsif dem == 6 %>
            </div>
          <% elsif dem == 7 %>
            <div class="row">
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-12">
                    <div class="post post-thumb">
                      <%= link_to image_tag(recentPost.image, class: "post-img"),review_path(recentPost) if recentPost.image.attached? %>
                      <div class="post-body">
                        <div class="post-meta">
                          <%= link_to recentPost.topic.name, "#", class: "post-category cat-#{recentPost.topic.id}" %>
                          <span class="post-date tt-review"><%= recentPost.created_at %></span>
                        </div>
                        <h3 class="post-title tt-review">
                          <%= link_to recentPost.title, review_path(recentPost) %>
                        </h3>
                      </div>
                    </div>
                  </div>
          <% elsif dem == 9 %>
            <div class="clearfix visible-md visible-lg"></div>
          <% elsif dem == 10 %>
          <% end %>
        <%end%>
      <%end%>
      </div>
      </div>
      <div class="col-md-4">
        <div class="aside-widget">
          <div class="section-title">
            <h2><%= t ".Most Read" %></h2>
          </div>
          <% if ! @reviewTops.empty? %>
            <%  @reviewTops.each do | reviewTop| %>
              <div class="post post-widget">
                <%= link_to image_tag(reviewTop.image, class: "post-img"),review_path(reviewTop) if reviewTop.image.attached? %>
                <div class="post-body">
                  <h3 class="post-title">
                    <%= link_to reviewTop.title, review_path(reviewTop) %>
                  </h3>
                  <p><%= reviewTop.about %></p>
                </div>
              </div>
            <% end %>
          <% end %>
      <div class="col-md-12">
        <div class="row">
          <div class="aside-widget">
            <div class="section-title">
              <h2><%= t ".Topic" %></h2>
            </div>
            <div class="category-widget">
              <ul>
                <% if ! @topicNumbers.empty? %>
                  <% @topicNumbers.each do | topicNumber| %>
                    <li><%= link_to topicNumber.name, "#",class: "cat-#{topicNumber.id}" %> <span><%= topicNumber.reviews.size %></span></li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="aside-widget">
            <div class="tags-widget">
              <ul>
                <% if ! @hashtags.empty? %>
                  <%  @hashtags.each do | hashtag| %>
                    <li><%=link_to hashtag.name, hashtag_path(hashtag) %></li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
