<div class="section">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <!-- post-new -->
        <div class="row">
          <!-- post-new -->
          <% if !@review_new.empty? %>
            <% @review_new.each do |review_news| %>
              <div class="col-md-6">
                <div class="post post-thumb">
                  <%= link_to image_tag("5030401_cover_Xiaomi_Redmi_10X_tinhte.jpg", class: "post-img", alt: "blog-post.html"), review_path(review_news) %>
                  <div class="post-body">
                    <div class="post-meta">
                      <%=link_to review_news.topic.name, "#", class: "post-category cat-2" %>
                      <span class="post-date" style="background: #333"><%=review_news.created_at%></span>
                    </div>
                    <h3 class="post-title" style="background: #333"><%=link_to review_news.title,review_path(review_news) %></h3>
                  </div>
                </div>
              </div>
            <%end%>
          <%end%>
          <!-- /post -->
        </div>
        <!-- /row -->

        <!-- Recent Posts -->
        <div class="row">
          <div class="col-md-12">
            <div class="section-title">
              <h2><%= t ".Recent Posts" %></h2>
            </div>
          </div>

          <!-- post -->
          <% if ! @RecentPosts.empty? %>
          <% dem = 0 %>
            <%  @RecentPosts.each do | recentPost| %>
              <% dem += 1 %>
              <% if dem < 7 %>
                <div class="col-md-4">
                   <div class="post">
                    <%= link_to image_tag("5030401_cover_Xiaomi_Redmi_10X_tinhte.jpg", class: "post-img", alt: "blog-post.html") ,review_path(recentPost)%>
                    <div class="post-body">
                      <div class="post-meta">
                        <a class="post-category cat-1" href="#"><%=recentPost.topic.name%></a>
                        <span class="post-date"><%= recentPost.created_at%></span>
                      </div>
                      <h3 class="post-title"><%=link_to recentPost.title, review_path(recentPost)%></h3>
                    </div>
                  </div>
                </div>
               <% elsif dem > 7 %>
                <div class="col-md-6">
                  <div class="post">
                    <%= link_to image_tag("5030401_cover_Xiaomi_Redmi_10X_tinhte.jpg", class: "post-img", alt: "blog-post.html") ,review_path(recentPost)%>
                    <div class="post-body">
                      <div class="post-meta">
                        <a class="post-category cat-1" href="#"><%=recentPost.topic.name%></a>
                        <span class="post-date"><%= recentPost.created_at%></span>
                      </div>
                      <h3 class="post-title"><%=link_to recentPost.title, review_path(recentPost)%></h3>
                    </div>
                  </div>
                </div>
              <% elsif dem == 3 %>
                <div class="clearfix visible-md visible-lg"></div>
              <% elsif dem == 6 %>
            </div>
              <% elsif dem == 7 %>
                <div class="row">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="post post-thumb">
                          <%= link_to image_tag("5030401_cover_Xiaomi_Redmi_10X_tinhte.jpg", class: "post-img", alt: "blog-post.html") ,review_path(recentPost)%>
                          <div class="post-body">
                            <div class="post-meta">
                              <a class="post-category cat-3" href="#"><%=recentPost.topic.name%></a>
                              <span class="post-date"><%= recentPost.created_at%></span>
                            </div>
                            <h3 class="post-title"><%= link_to recentPost.title, review_path(recentPost)%></h3>
                          </div>
                        </div>
                      </div>
              <% elsif dem == 9 %>
                <div class="clearfix visible-md visible-lg"></div>
              <% elsif dem == 10 %>
              <% end %>
            <%end%>
          <%end%>
          </div>
          </div>
              <!-- /post -->
          <div class="col-md-4">
            <!-- post widget -->
            <div class="aside-widget">
              <div class="section-title">
                <h2><%= t ".Most Read" %></h2>
              </div>
              <% if ! @reviewTops.empty? %>
                <%  @reviewTops.each do | reviewTop| %>
                  <div class="post post-widget">
                    <%= link_to image_tag("5030401_cover_Xiaomi_Redmi_10X_tinhte.jpg", class: "post-img", alt: "blog-post.html") ,review_path(reviewTop)%>
                    <div class="post-body">
                      <h3 class="post-title"><%= link_to reviewTop.title, review_path(reviewTop) %></h3>
                      <p><%= reviewTop.about%></p>
                    </div>
                  </div>
                <%end%>
              <%end%>

            <!-- post widget -->
<!-- <<<<<<< HEAD -->
            <div class="aside-widget">
              <div class="section-title">
                <h2><%= t ".Featured Posts" %></h2>
              </div>
              <div class="post post-thumb">
                <%= link_to image_tag("5030401_cover_Xiaomi_Redmi_10X_tinhte.jpg", class: "post-img", alt: "blog-post.html") ,"#"%>
                <div class="post-body">
                  <div class="post-meta">
                    <a class="post-category cat-3" href="category.html">Jquery</a>
                    <span class="post-date">March 27, 2018</span>
                  </div>
                  <h3 class="post-title"><a href="blog-post.html">Ask HN: Does Anybody Still Use JQuery?</a></h3>
                </div>
              </div>

              <div class="post post-thumb">
                <%= link_to image_tag("5030401_cover_Xiaomi_Redmi_10X_tinhte.jpg", class: "post-img", alt: "blog-post.html") ,"#"%>
                <div class="post-body">
                  <div class="post-meta">
                    <a class="post-category cat-2" href="category.html">JavaScript</a>
                    <span class="post-date">March 27, 2018</span>
                  </div>
                  <h3 class="post-title"><a href="blog-post.html">Chrome Extension Protects Against JavaScript-Based CPU Side-Channel Attacks</a></h3>
                </div>
              </div>
            </div>
            <!-- /post widget -->

            <!-- ad -->
            <div class="aside-widget text-center">
              <a href="#" style="display: inline-block;margin: auto;">
                 <%=  image_tag("5030401_cover_Xiaomi_Redmi_10X_tinhte.jpg", class: "img-responsive", alt: "blog-post.html")%>
              </a>
            </div>
            <!-- /ad -->
          </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /section -->

    <!-- Featured Posts -->
    <div class="section section-grey">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-md-12">
            <div class="section-title text-center">
              <h2><%= t ".Featured Posts" %></h2>
            </div>
          </div>

          <!-- post -->
          <div class="col-md-4">
            <div class="post">
              <%= link_to image_tag("5030401_cover_Xiaomi_Redmi_10X_tinhte.jpg", class: "post-img", alt: "blog-post.html") ,"#"%>
              <div class="post-body">
                <div class="post-meta">
                  <a class="post-category cat-2" href="category.html">JavaScript</a>
                  <span class="post-date">March 27, 2018</span>
                </div>
                <h3 class="post-title"><a href="blog-post.html">Chrome Extension Protects Against JavaScript-Based CPU Side-Channel Attacks</a></h3>
              </div>
            </div>
          </div>
          <!-- /post -->

          <!-- post -->
          <div class="col-md-4">
            <div class="post">
              <%= link_to image_tag("5030401_cover_Xiaomi_Redmi_10X_tinhte.jpg", class: "post-img", alt: "blog-post.html") ,"#"%>
              <div class="post-body">
                <div class="post-meta">
                  <a class="post-category cat-3" href="category.html">Jquery</a>
                  <span class="post-date">March 27, 2018</span>
                </div>
                <h3 class="post-title"><a href="blog-post.html">Ask HN: Does Anybody Still Use JQuery?</a></h3>
              </div>
            </div>
          </div>
          <!-- /post -->

          <!-- post -->
          <div class="col-md-4">
            <div class="post">
              <%= link_to image_tag("5030401_cover_Xiaomi_Redmi_10X_tinhte.jpg", class: "post-img", alt: "blog-post.html") ,"#"%>
              <div class="post-body">
                <div class="post-meta">
                  <a class="post-category cat-1" href="category.html">Web Design</a>
                  <span class="post-date">March 27, 2018</span>
                </div>
                <h3 class="post-title"><a href="blog-post.html">Pagedraw UI Builder Turns Your Website Design Mockup Into Code Automatically</a></h3>
              </div>
            </div>
          </div>
          <!-- /post -->
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /section -->

    <!-- section -->
    <div class="section">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-12">
                <div class="section-title">
                  <h2><%= t ".Most Read" %></h2>
                </div>
              </div>
              <!-- post -->

              <div class="col-md-12">
                <div class="post post-row">
                  <%= link_to image_tag("5030401_cover_Xiaomi_Redmi_10X_tinhte.jpg", class: "post-img", alt: "blog-post.html") ,"#"%>
                  <div class="post-body">
                    <div class="post-meta">
                      <a class="post-category cat-2" href="category.html">JavaScript</a>
                      <span class="post-date">March 27, 2018</span>
                    </div>
                    <h3 class="post-title"><a href="blog-post.html">Chrome Extension Protects Against JavaScript-Based CPU Side-Channel Attacks</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                  </div>
                </div>
              </div>
              <!-- /post -->

              <!-- post -->
              <div class="col-md-12">
                <div class="post post-row">
                  <%= link_to image_tag("5030401_cover_Xiaomi_Redmi_10X_tinhte.jpg", class: "post-img", alt: "blog-post.html") ,"#"%>
                  <div class="post-body">
                    <div class="post-meta">
                      <a class="post-category cat-2" href="category.html">JavaScript</a>
                      <span class="post-date">March 27, 2018</span>
                    </div>
                    <h3 class="post-title"><a href="blog-post.html">Why Node.js Is The Coolest Kid On The Backend Development Block!</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                  </div>
                </div>
              </div>
              <!-- /post -->

              <!-- post -->
              <div class="col-md-12">
                <div class="post post-row">
                  <%= link_to image_tag("5030401_cover_Xiaomi_Redmi_10X_tinhte.jpg", class: "post-img", alt: "blog-post.html") ,"#"%>
                  <div class="post-body">
                    <div class="post-meta">
                      <a class="post-category cat-4" href="category.html">Css</a>
                      <span class="post-date">March 27, 2018</span>
                    </div>
                    <h3 class="post-title"><a href="blog-post.html">CSS Float: A Tutorial</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                  </div>
                </div>
              </div>
              <!-- /post -->

              <!-- post -->
              <div class="col-md-12">
                <div class="post post-row">
                  <%= link_to image_tag("5030401_cover_Xiaomi_Redmi_10X_tinhte.jpg", class: "post-img", alt: "blog-post.html") ,"#"%>
                  <div class="post-body">
                    <div class="post-meta">
                      <a class="post-category cat-3" href="category.html">Jquery</a>
                      <span class="post-date">March 27, 2018</span>
                    </div>
                    <h3 class="post-title"><a href="blog-post.html">Ask HN: Does Anybody Still Use JQuery?</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                  </div>
                </div>
              </div>
              <!-- /post -->

              <div class="col-md-12">
                <div class="section-row">
                  <button class="primary-button center-block"><%= t ".load_more" %></button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <!-- ad -->
            <div class="aside-widget text-center">
              <a href="#" style="display: inline-block;margin: auto;">
              <%=  image_tag("5030401_cover_Xiaomi_Redmi_10X_tinhte.jpg", class: "img-responsive", alt: "blog-post.html")%>
              </a>
            </div>
            <!-- /ad -->

            <!-- catagories -->
<!-- ======= -->
           <div class="col-md-12">
            <div class="row">
<!-- >>>>>>> filter search -->
            <div class="aside-widget">
              <div class="section-title">
                <h2><%= t ".Topic" %></h2>
              </div>
              <div class="category-widget">
                <ul>
                  <% if ! @topicNumbers.empty? %>
                    <%  @topicNumbers.each do | topicNumber| %>
                    <li><a href="#" class="cat-<%=topicNumber.id%>"><%= topicNumber.name%><span><%= topicNumber.reviews.size%></span></a></li>
                    <%end%>
                  <%end%>
                </ul>
              </div>
            </div>

            <div class="aside-widget">
              <div class="tags-widget">
                <ul>
                  <% if ! @hashtags.empty? %>
                    <%  @hashtags.each do | hashtag| %>
                      <li><%=link_to hashtag.name, hashtag_path(hashtag) %></li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
            <!-- /post widget -->

            <!-- ad -->

            <!-- /ad -->
          </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /section -->

    <!-- Featured Posts -->

