<div class="col-md-3">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center"></h3>
      <span class="finter-date">Hashtag</span>
      <div>
        <ul>
          <% if !@hashtagAll.nil? %>
            <%@hashtagAll.each do |hashtag|%>
              <li class=" li-hashtag"><%=link_to hashtag.name, hashtag_path(hashtag) %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="col-md-8">
  <div class="row">
    <div class="col-md-12">
      <div class="section-title">
        <h2><%= t("index.Have") %><%= @reviews.count %><%= t("index.reviews") %><%= @parameter%>" </h2>
      </div>
    </div>
    <!-- post -->
    <% if !@reviews.empty? %>
      <% @reviews.each do |review| %>
        <div class="col-md-12">
          <div class="post post-row">
            <%= link_to image_tag(review.image, class: "post-img"),review_path(review) if review.image.attached? %>
            <div class="post-body">
              <div class="post-meta">
                <%=link_to review.topic.name,review_path(review) %>
                <span class="post-date"><%= time_ago_in_words(review.created_at
                ) %> <%= t("index.ago") %></span>
              </div>
              <h3 class="post-title">
                <%= link_to review.title ,review_path(review) %>
              </h3>
              <p><%=review.about%></p>
            </div>
          </div>
        </div>
      <%end%>
   <%= will_paginate @reviews %>
    <%end%>
    <!-- /post -->
  </div>
</div>


