<% provide(:title, "Log in") %>
<h1><%= t("index.Log in") %></h1>
	<div class="row">
	  <div class="col-md-6 col-md-offset-3">
		<%= form_for(:session, url: login_path) do |f| %>

		<%= f.label :email %>
		<%= f.email_field :email, class: 'form-control' %>

		<%= f.label :password, t("index.password") %>
		<%= f.password_field :password, class: 'form-control' %>

		<%= f.label :remember_me, class: "checkbox inline" do %>
			<%= f.check_box :remember_me %>
			<span class="css-span" ><%= t("index.Remember me") %> </span>
		<% end %>

		<%= f.submit t("index.Log in"), class: "btn btn-primary" %>
	    <% end %>
	  <p><%= t("index.New user?") %> <%= link_to t("index.Sign up now!"), signup_path %></p>
	    <div class="col-md-6">
	      <%= render "sessions/navigation" %>
	    </div>
	    <div class="col-md-6">
	    <%= render "sessions/facebook_login" %>
	    </div>
	</div>
</div>
