<div class="panel panel-primary"style ="width :67%;margin-left:8%">
  <div class="panel-heading ">
  <% if @comments.nil? %>
    <span>0 <%= t".comment" %></span>
  <% else %>
    <%= @review.comments.count %>
    <%= (@review.comments.count) == 1 ? 'Comment' : 'Comments'%>
    <%= render "comments/form_comment" %>
  </div>
    <% @comments.each do |comment| %>
      <div id = "comments">
        <span><%= @user.name %>:</span>
        <span><%= comment.content %></span><br>
        <% if comment.user.present? %>
          <span class="timestamp">
          <i>Posted <%= time_ago_in_words(comment.created_at) %> ago.</i> </span>
          <%= link_to t("index.edit"), edit_review_comment_path(comment.review, comment), class: "btn btn-primary" %>
          <%= link_to t("index.delete"), review_comment_path(comment.review, comment), method: :delete,
                         data: { confirm: t("index.You sure?") }, class: "btn btn-danger" %><hr><br><br>
      <% end %>
    <% end %>
  <% end%>
</div>

