<div class="panel panel-primary"style ="width :100%">
  <div class="panel-heading ">
  <% if @comments.nil? %>
    <span>0 <%= t".comment" %></span>
  <% else %>
    <%= @review.comments.count %>
    <%= @review.comments.count == 1 ? 'Comment' : 'Comments'%>
    <%= render "comments/form_comment" %>
  </div>
    <% @comments.each do |comment| %>
      <div id = "comments" style = "margin : 20px">
        <b><span><%= comment.user.name %>:</span></b>
        <span><%= comment.content %></span><br>
        <% if logged_in? %>
          <% if comment.user_id == current_user.id %>
            <i><%= link_to t("index.edit"), edit_review_comment_path(comment.review, comment) %></i>
            <i><%= link_to t("index.Delete"), review_comment_path(comment.review, comment),
                    method: :delete, data: { confirm: t("index.You sure?") } %></i>
          <% end %>
        <% end %>
        <span class="timestamp" >
        <i><%= t("index.posted") %> <%= time_ago_in_words(comment.created_at) %>
          <%= t("index.ago") %></i><hr>
        </span>
      </div>
    <% end %>
  <% end%>
<%= will_paginate @comments %>
</div>
