<br><br>
<div class="container">
  <% @reviews.each do |review| %>
    <div id =revise-<%= review.id%>>
      <div class="col-md-9">
        <b><%= t("index.Users") %>:</b>
          <span><%= review.user.name %></span>
        <b>Title:</b>
          <span><%= review.title %></span>
        <b>About:</b>
          <span><%= review.about %></span>
      </div>
      <div class="col-md-1">
        <%= link_to t("index.Read"), admin_revise_path(review),
                                                   class: "btn btn-primary" %>
      </div>
      <div class="col-md-1">
        <%= link_to t("index.Accept"), edit_admin_revise_path(review),
                                                   class: "btn btn-primary" %>
      </div>
      <div class="col-md-1">
        <%= link_to t("index.Delete"), "javascript:void(0);",
           data_delete: { confirm: "You sure?" },
           data_review: "#{review.id}", class: 'btn btn-danger de_comment' %>
      </div>
    </div><br><br>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.de_comment').on('click', function(event) {
      var id_review = $(this).attr('data_review');
      var token = $('meta[name=csrf-token').attr('content');
      $.ajaxSetup({
        beforeSend: function ( xhr ) {
          xhr.setRequestHeader( 'X-CSRF-Token', token );
        }
      });
      $.ajax({
        url: 'http://localhost:3000/en/admin/revises/'+id_review,
        dataType: 'json',
        method: 'POST',
        data: {
          _method: 'DELETE',
          id : id_review
        }
      })
      .done(function(e) {
        $('#revise-'+id_review).remove();
      });
    });
  });
</script>
