<br><br>
<div class="container">
  <% @reviews.each do |review| %>
    <div>
      <b><%= t("index.Users") %></b><br>
        <span><%= review.user.name %></span><br>
      <b>Title:</b><br>
        <span><%= review.title %></span><br>
      <b>About:</b>
        <span><%= review.about %></span>
      </div>
      <div>
      <%= link_to t("index.Read"), admin_revise_path(review), class: "btn btn-primary" %>
      <%= link_to t("index.Accept"), edit_admin_revise_path(review), class: "btn btn-primary" %>
      <%= link_to t("index.Delete"), admin_revise_path(review), method: :delete, data: { confirm: t("index.You sure?") }, class: "btn btn-danger" %>
    </div><br><br>
  <% end %>
</div>
