<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
	<section class="user_info">
    <h1>
		  <%= gravatar_for @user %>
		  <%= @user.name %>
	  </h1><br>
    <%= link_to (t ".New Review"), new_review_path, class: "btn btn-primary" %><br>
    <% if current_user.admin? %>
      <%= link_to "Revise", admin_revises_path, class: "btn btn-primary" %><br>
    <% end %>
	</section>
  </aside>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="section-title">
        <h2><%= t("index.Have") %> <%= @reviews.count %> <%= t("index.reviews") %><%= @parameter%> </h2>
      </div>
    </div>
    <!-- post -->
    <% if !@reviews.empty? %>
      <% @reviews.each do |review| %>
        <div class="col-md-12">
          <div class="col-md-8">
            <div class="post post-row">
              <%= link_to image_tag(review.image, class: "post-img"),review_path(review) if review.image.attached? %>
              <div class="post-body">
                <div class="post-meta">
                  <%=link_to review.topic.name,review_path(review) %>
                  <span class="post-date"><%=review.created_at%></span>
                </div>
                <h3 class="post-title">
                  <%= link_to review.title ,review_path(review) %>
                </h3>
                <p><%=review.about%></p>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <% if review.appended_i18n == "Approved" %>
            <span class="btn btn-success"><%= review.appended_i18n %></span>
            <% else %>
            <span class="btn btn-warning"><%= review.appended_i18n %></span>
            <% end %>
          </div>
          <div class="col-md-2">
            <%= link_to (t ".Delete"), user_review_path(review.user, review), method: :delete,
                  data: { confirm: t("index.You sure?") },class: "btn btn-danger" %>
          </div>
        </div>
      <% end %>
    <% end %>
   <div class="col-md-12 center"><%= will_paginate @reviews %></div>
  </div>
</div>

