<div class="col-md-3">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center"></h3>
      <span class="finter-date">Hashtag</span>
      <div>
        <ul>
          <% if !@hashtagAll.nil? %>
            <%@hashtagAll.each do |hashtagAll|%>
              <li class=" li-hashtag"><%=link_to hashtagAll.name, hashtag_path(hashtagAll) %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="col-md-8">
  <div class="row">
    <div class="col-md-12">
      <div class="section-title">
        <h2>Co <%= @reviews.count %> bai viet thuoc <%= @hashtag.name %> </h2>
      </div>
    </div>
    <!-- post -->
    <% if !@reviews.empty? %>
      <% @reviews.each do |review| %>
        <div class="col-md-12">
          <div class="post post-row">
            <a href="#"><img class="post-img" alt="blog-post.html" src="/assets/5030401_cover_Xiaomi_Redmi_10X_tinhte-481141e096ce79f4291a4d2fc9fdd29ca4c964ce5aaf37b0aa1b2c478281229b.jpg"></a>
            <div class="post-body">
              <div class="post-meta">
                <%= link_to review.topic.name ,review_path(review) %>
                <span class="post-date"><%=review.created_at%></span>
              </div>
              <h3 class="post-title">
                <%= link_to review.title ,review_path(review) %></h3>
              <p><%=review.about%></p>
            </div>
          </div>
        </div>
      <%end%>
   <%= will_paginate @reviews %>
    <%end%>
    <!-- /post -->
  </div>
</div>
