<div class="container">
  <% @reports.each do |report| %>
    <div>
      <b><%= "Report" %></b><br>
      <span>
        <%= report.user.name %>
      </span><br>
      <b><%= t("index.Title") %></b>
      <span>
        <%= link_to report.review.title, admin_report_path(report.review.id) %>
      </span>
      <%= link_to t("index.Delete"), admin_report_path(report.review.id),
       method: :delete, data: { confirm: t("index.You sure?") },
                                                    class: "btn btn-danger" %>
    </div>
  <% end %>
</div>
