<% if @review.errors.any? %>
  <ul>
    <%= @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @review do |f| %>
  <div class="form-group">
    <label><%= t("index.tagsInput") %></label>
    <input type="text" id="autocomplete" class="form-control" />
    <%= link_to_add_fields t("index.Add"), f, :hashtag_details %>
    <ul id="hashtag_name_ul">
        
    </ul>
  </div>
      <div>
        
      </div>
    </div>
  </div>
</div>
  <div>
    <%= f.label :topic %>
  </div>
  <%= f.select :topic_id, options_from_collection_for_select(@topics, "id", "name") %>
  <div>
    <%= f.label :title %>
  </div>
  <div>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :content %>
  </div>
  <div>
    <%= f.cktext_area :content, class: "ckeditor" %>
  </div>
  <span class="image">
    <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png,image/jpg" %>
  </span>
  <div>
    <%= f.submit  %>
  </div>
<% end %>

