<div id="post-header" class="page-header">
	<div class="background-img" style="background-image: url('/assets/post-page.jpg');"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<div class="post-meta">
					<a class="post-category cat-2" href="category.html"><%= t ".Topic" %></a>
					<span class="post-date"><%= @review.created_at %></span>
				</div>
				<h1><%= @review.title.html_safe %></h1>
			</div>
		</div>
	</div>
</div>
		<!-- /Header -->
		<!-- section -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Post content -->
					<div class="col-md-8">
            <% if current_user %>
						<div id="bookmark_form">
							<%= render 'reviews/bookmark_form' %>
						</div>
            <% end %>
						<div class="section-row sticky-container">
							<div class="main-post">
								<figure class="figure-img">
									<%=  image_tag("5030401_cover_Xiaomi_Redmi_10X_tinhte.jpg", class: "img-responsive", alt: "blog-post.html")%>
								</figure>

								<%= @review.content.html_safe %>
								<section class="stats">
						        <p id = "like_count">
                      <%= @review.likes.count %>
                      <%= (@review.likes.count) == 1 ? 'Like' : 'Likes'%>
                    </p>
                    <% if current_user %>
                    <p id = "form_like">
						        <%= render 'form_like' %>
						        </p>
                    <% end %>
						        <div
                      class="fb-share-button"
                      data-href="http://localhost:3000/reviews/"
                      data-layout="box_count" data-size="small">
                      <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A3000%2Freviews%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Chia sẻ</a>
                    </div>
                    <div id="comments">
                      <%= render "comments/comments" %>
                    </div>
						    </section>
						<!-- /author -->
						<div class="aside-widget">
              <div class="tags-widget">
                <ul>
								<% if !@hashtags.empty? %>
      						<% @hashtags.each do |hashtag| %>
										<li><%=link_to hashtag.name, hashtag_path(hashtag) %></li>
										<% end %>
									<% end %>
								</ul>
							</div>
						</div>
						<div>
							<%= link_to (t ".New Review"), new_review_path, class: "btn btn-primary" %><br>
							<%= link_to (t ".Edit Review"), edit_review_path(@review), class: "btn btn-primary" %><br>
							<%= link_to (t ".Delete"), @review, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-danger" %><br>
						</div>
					</div>
		</div>
	</div>
<div class="col-md-4">
            <!-- post widget -->
  <div class="aside-widget">
    <div class="section-title">
      <h2>bai lien quan</h2>
    </div>
    <% if !@reviewFilter.nil? %>
      <%  @reviewFilter.each do | reviewFilter| %>
        <div class="post post-widget">
          <%= link_to image_tag("5030401_cover_Xiaomi_Redmi_10X_tinhte.jpg", class: "post-img", alt: "blog-post.html") ,review_path(reviewFilter)%>
          <div class="post-body">
            <h3 class="post-title"><%= link_to reviewFilter.title ,review_path(reviewFilter)%></h3>
            <p><%= reviewFilter.about%></p>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
</div>



<script>

  $("#bookmark_button").on("click", function(event) {
    //event.preventDefault();
});
</script>
