    <header id="header">
      <!-- Nav -->
      <div id="nav">
        <!-- Main Nav -->
        <div id="nav-fixed">
          <div class="container">
            <!-- logo -->
            <div class="nav-logo">
             <%= link_to image_tag("logo2.png", class: "logo", alt: "techvision.html"),"#"%>
            </div>
            <!-- /logo -->

            <!-- nav -->
            <ul class="nav-menu nav navbar-nav">
              <li><a href="category.html">Apple</a></li>
              <li><a href="category.html">SamSung</a></li>
              <li class=""><a href="category.html">Sony</a></li>
              <li class=""><a href="category.html">Xiaomi</a></li>
              <li class=""><a href="category.html">Huawei</a></li>
              <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Languages <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "English", locale:"en" %></li>
                      <li><%= link_to "Vietnamese", locale:"vi" %></li> 
                      <li><%= link_to "Japanese", locale:"ja" %></li>      
                    </ul>
                </li>
            </ul>
            <!-- /nav -->

            <!-- search & aside toggle -->
            <div class="search col-md-4">
              <%= form_tag(search_page_path, :method => "get") do %>
              <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control", id: "myInput"%>
                <% end %>
              </div>
            <div class="nav-btns">
              <li class="dropdown list-style-hd list-style-hd1">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <span class="glyphicon glyphicon-globe"></span> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "English", locale:"en" %></li>
                      <li><%= link_to "Vietnamese", locale:"vi" %></li>
                      <li><%= link_to "Japanese", locale:"ja" %></li>
                    </ul>
                </li>

              <li class=" list-style-hd"><button class="aside-btn"><i class="fa fa-bars"></i></button></li>
            </div>
            <!-- /search & aside toggle -->
          </div>
        </div>
        <!-- /Main Nav -->


        <!-- Aside Nav -->
        <div id="nav-aside">
          <!-- nav -->
          <div class="section-row">
            <ul class="nav-aside-menu">
              <li class="nav-li"><a href="index.html">Home</a></li>
              <li class="nav-li"><a href="about.html">About Us</a></li>
              <li class="nav-li"><a href="#">Contacts</a></li>
              <li class="nav-li"><a href="#">Login</a></li>
              <li class="nav-li"><a href="#">Bookmark</a></li>
            </ul>
          </div>

          <button class="nav-aside-close"><i class="fa fa-times"></i></button>
          <!-- /aside nav close -->
        </div>
        <!-- Aside Nav -->
      </div>
      <!-- /Nav -->
    </header>
